@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@100;300;400;500;700;900&family=Shrikhand&display=swap");
* {
  box-sizing: border-box;
}

body {
  font-family: "Roboto", sans-serif;
  background-color: white;
  margin: 0;
}

h1,
h3,
p {
  margin: 0;
}

h1 {
  padding: 0 45px;
}

p {
  font-weight: 300;
}

a {
  text-decoration: none;
  color: inherit;
}

.button {
  background: linear-gradient(175deg, #ff79da 0%, #9356dc 95%);
  color: white;
  border: none;
  font-family: inherit;
  padding: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: 0 4px 8px rgba(20, 20, 20, 0.2);
}
.button:hover {
  background: linear-gradient(175deg, #ff93f4 0%, #ad70f6 95%);
  box-shadow: 0 1px 9px rgba(20, 20, 20, 0.5);
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  flex-direction: column;
}
header .logo {
  width: 180px;
  margin: 25px 0 10px;
}
header .location {
  width: 100%;
  background-color: #e9e9e9;
  text-align: center;
  padding: 12px 0;
  box-shadow: 0px 3px 4px 0px rgba(100, 100, 100, 0.3) inset;
}
@media (min-width: 900px) {
  header .location {
    width: 40%;
  }
}
header .location .fa-location-dot {
  margin-left: 70px;
}
header input {
  border: none;
  background-color: transparent;
  font-weight: 500;
  font-family: inherit;
  padding-left: 8px;
}
header input:focus {
  outline: none;
}

footer {
  background-color: #383838;
  color: white;
  width: inherit;
  padding: 22px;
}
@media (min-width: 550px) {
  footer {
    text-align: center;
  }
}
footer .footer-logo {
  filter: invert(100%);
  width: 100px;
}
footer .footer-content {
  list-style: none;
  padding-left: 0;
  line-height: 1.6;
}
footer .footer-content .fa-utensils {
  margin-right: 12px;
}
footer .footer-content .fa-handshake-angle {
  font-size: 13px;
  margin-right: 10px;
}

@media (min-width: 1160px) {
  main {
    display: flex;
    flex-wrap: wrap;
  }
}

/*****PRESENTATION SECTION*******/
.presentation {
  text-align: center;
  background-color: #f6f6f6;
  padding: 40px 0 70px;
}
@media (min-width: 1160px) {
  .presentation {
    width: 50%;
    background-color: inherit;
    margin: auto;
  }
}
.presentation .subtitle {
  font-size: 18px;
  font-weight: 300;
  margin-bottom: 45px;
  padding: 0 20px;
}

/*****PROGRESS SECTION*******/
.progress {
  padding: 33px 20px;
}
@media (min-width: 1160px) {
  .progress {
    width: 42%;
  }
}
@media (min-width: 550px) and (max-width: 1159px) {
  .progress {
    margin: auto;
    max-width: 500px;
  }
}
.progress h2 {
  margin-bottom: 26px;
}
.progress-flow {
  list-style: none;
  padding-left: 10px;
}
.progress-step:nth-of-type(3) {
  background-color: #f4eefc;
}
.progress-step:nth-of-type(3) i {
  color: #9356dc;
}
.progress-step {
  display: flex;
  align-items: center;
  background-color: #f6f6f6;
  margin-bottom: 26px;
  border-radius: 20px;
  padding: 24px 7px;
  width: 100%;
  max-width: 500px;
  box-shadow: 0 4px 8px rgba(20, 20, 20, 0.2);
}
.progress-step p {
  font-weight: 500;
}
.progress-step-num {
  padding-top: 2px;
  width: 23px;
  height: 21px;
  background-color: #9356dc;
  border-radius: 50%;
  color: white;
  text-align: center;
  position: relative;
  left: -18px;
}
.progress-step i {
  color: #7d7d7d;
  margin-right: 18px;
}

/*****RESTAURANTS SECTION*******/
#restaurants {
  background-color: #f6f6f6;
  padding: 38px 20px;
}
@media (min-width: 1160px) {
  #restaurants {
    width: 100%;
  }
}
@media (min-width: 550px) and (max-width: 1159px) {
  #restaurants {
    text-align: center;
  }
}
#restaurants .cards-container {
  padding: 0;
  list-style: none;
}
@media (min-width: 1160px) {
  #restaurants .cards-container {
    display: flex;
    justify-content: space-between;
  }
}
#restaurants .cards-container .card {
  position: relative;
  background-color: white;
  border-radius: 16px;
  margin-bottom: 20px;
  box-shadow: 0 4px 8px rgba(20, 20, 20, 0.2);
}
@media (min-width: 1160px) {
  #restaurants .cards-container .card {
    width: 23%;
  }
}
@media (min-width: 550px) and (max-width: 1159px) {
  #restaurants .cards-container .card {
    max-width: 600px;
    margin: auto auto 30px;
  }
}
#restaurants .cards-container .card-content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 12px 20px 12px 12px;
  line-height: 1.5;
}
#restaurants .cards-container .card-img {
  width: 100%;
  max-height: 170px;
  object-fit: cover;
  border-radius: 16px 16px 0 0;
}
#restaurants .cards-container .card-label {
  padding: 5px 10px;
  background-color: #99e2d0;
  color: #278870;
  border-radius: 2px;
  position: absolute;
  top: 13px;
  right: 13px;
  font-size: 15px;
  font-weight: 500;
}
#restaurants .cards-container .card .fa-heart {
  font-size: 26px;
}

/*# sourceMappingURL=style.css.map */
