footer {
  background-color: $colour-background-quaternary;
  color: white;
  width: inherit;
  padding: 22px;
  @media (min-width: 550px) {
    text-align: center;
  }

  .footer-logo {
    filter: invert(100%);
    width: 100px;
  }

  .footer-content {
    list-style: none;
    padding-left: 0;
    line-height: 1.6;

    .fa-utensils {
      margin-right: 12px;
    }

    .fa-handshake-angle {
      font-size: 13px;
      margin-right: 10px;
    }
  }
}
