.button {
  background: $gradient-primary;
  color: white;
  border: none;
  font-family: inherit;
  padding: 15px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  box-shadow: $shadow-primary;

  &-order {
    padding: 15px 45px;
  }
  &:hover {
    background: $gradient-light;
    box-shadow: $shadow-darken;
    transition: all 100ms ease-in-out;
  }
}
