.button {
  background: linear-gradient(
    175deg,
    rgba(255, 121, 218, 1) 0%,
    rgba(147, 86, 220, 1) 95%
  );
  color: white;
  border: none;
  font-family: inherit;
  padding: 16px;
  border-radius: 30px;
  font-size: 16px;
  font-weight: 500;
  text-decoration: none;
  @include box-shadow;
}
