.menu {
  background-color: $colour-background-secondary;
  padding-bottom: 20px;
  &-image {
    width: 100%;
    display: flex;
    object-fit: cover;
    max-height: 256px;
    @include desktop-only {
      z-index: 0;
      max-height: none;
      height: 350px;
      object-position: 50% 59%;
    }
  }

  &-container {
    position: relative;
    bottom: 40px;
    border-radius: 40px 40px 0 0;
    background-color: $colour-background-secondary;
    padding: 30px 16px;
    @include tablet-only {
      border-radius: 0;
    }

    @include desktop-only {
      width: 100%;
    }

    .step-title-container {
      width: fit-content;
      margin-top: 30px;
      @include tablet-only {
        margin: 30px auto;
      }
      @include desktop-only {
        margin-bottom: 10px;
      }
    }
    .underline {
      width: 40px;
      height: 3px;
      background-color: $colour-tertiary;
      margin-left: 5px;
      @include tablet-only {
        width: auto;
      }
    }
  }

  .name-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 94%;
    @include tablet-only {
      width: 60%;
      margin: auto auto 55px;
      justify-content: space-evenly;
    }
    @include desktop-only {
      width: 35%;
    }

    .name {
      font-family: $font-title;
      font-size: 24px;
      margin-left: 5px;
    }

    .fa-heart {
      font-size: 26px;
      @include tablet-only {
      }
    }
  }

  &-step {
    margin-top: 16px;
    padding: 0;

    @include tablet-only {
      margin: auto;
      width: 70%;
    }

    @include desktop-only {
      width: 100%;
      display: flex;
      justify-content: space-around;
      margin-bottom: 50px;
      flex-wrap: wrap;
    }

    &-title {
      color: $colour-quaternary;
      font-weight: 400;
      margin-bottom: 4px;
      padding-left: 5px;
    }
  }

  &-card {
    background-color: $colour-background-primary;
    margin: 15px 0;
    padding: 9px 18px 9px 10px;
    border-radius: 16px;
    box-shadow: $shadow-primary;

    &:nth-of-type(1) {
      animation: fadein 1s ease-in-out;
    }

    &:nth-of-type(2) {
      animation: fadein 1.5s ease-in-out;
    }

    &:nth-of-type(3) {
      animation: fadein 2s ease-in-out;
    }

    &:nth-of-type(4) {
      animation: fadein 2.5s ease-in-out;
    }

    @include flex-center;
    @include desktop-only {
      width: 27%;
    }

    &-text {
      line-height: 1.5;

      h5 {
        font-size: 18px;
      }
    }

    &-price {
      margin-top: 28px;
      font-weight: 500;
      font-size: 15px;
    }
  }

  &-order {
    text-align: center;
    margin-top: 60px;
  }
}
