.presentation {
  text-align: center;
  background-color: $colour-background-secondary;
  padding: 40px 0 50px;

  .subtitle {
    font-size: 18px;
    font-weight: 300;
    margin-bottom: 30px;
    padding: 0 20px;
  }

  button {
    background: linear-gradient(
      175deg,
      rgba(255, 121, 218, 1) 0%,
      rgba(147, 86, 220, 1) 95%
    );
    color: white;
    box-shadow: 0 6px 9px rgba(0, 0, 0, 0.2);
    border: none;
    font-family: inherit;
    padding: 16px;
    border-radius: 30px;
    font-size: 16px;
    font-weight: 500;
  }
}
