#restaurants {
  background-color: $colour-background-secondary;
  padding: 38px 20px;

  .cards-container {
    padding: 0;
    list-style: none;

    .card {
      position: relative;
      background-color: $colour-background-primary;
      border-radius: 16px;
      margin-bottom: 20px;
      box-shadow: $shadow-primary;

      &-content {
        @include flex-center;
        padding: 12px 20px 12px 12px;
        line-height: 1.5;
      }

      &-img {
        width: 100%;
        max-height: 170px;
        object-fit: cover;
        border-radius: 16px 16px 0 0;
      }

      &-label {
        padding: 5px 10px;
        background-color: $colour-tertiary;
        color: darken($colour-tertiary, 40);
        border-radius: 2px;
        position: absolute;
        top: 13px;
        right: 13px;
        font-size: 15px;
        font-weight: 500;
      }

      .fa-heart {
        font-size: 26px;
      }
    }
  }
}
