@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin desktop-only {
  @media (min-width: 1160px) {
    @content;
  }
}

@mixin tablet-only {
  @media (min-width: 550px) {
    @content;
  }
}
