@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

@mixin overflow {
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

@mixin transition {
  transition: all 500ms ease-out;
}

/**********MEDIA QUERIES*********/
@mixin desktop {
  @media (min-width: 1160px) {
    @content;
  }
}

@mixin tablet-large {
  @media (min-width: 846px) {
    @content;
  }
}
@mixin tablet {
  @media (min-width: 550px) {
    @content;
  }
}
