$colour-primary: #9356dc;
$colour-secondary: #ff79da;
$colour-tertiary: #99e2d0;

$colour-background-primary: white;
$colour-background-secondary: #f6f6f6;
$colour-background-tertiary: #e9e9e9;
$colour-background-quaternary: #383838;

$font-text: "Roboto", sans-serif;
$font-title: "Shrikhand", cursive;
